@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --dark-blue: #2a3744;
    --light-blue: #abccdb;
    --cherry-red: #c40000;
    --white: #fff
}

body {
    width: 75vw;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: flex;
}

/* Section left */
section.left {
    font-size: 0.9rem;
    width: 20vw;
    height: 20vh;
    background-color: yellow;
}

section.left ul {
    color: var(--cherry-red)
}
/* ------------------------------ */

/* Section right */
/* ------------------------------ */

/* Search Component */

.search {
    font-size: 1.2rem;
    height: 4vh; 
    display: flex;
    flex-flow: row wrap;
    padding: 1%;
    align-items: center;
    background-color: var(--dark-blue);
}

.search a {
    text-decoration: none;
    color: var(--light-blue);
}

.search .left {
    width: 12.2vw;
    display: flex;
    justify-content: space-between;
}

.search .right {
    width: 60.8vw;
    text-align: right
}


/* ------------------------------ */