<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

=======
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
:root {
    --dark-blue: #2a3744;
    --light-blue: #3d5064;
    --cherry-red: #c40000;
    --white: #fff;
    --black: #000;
    --light-grey-200: #EEEEEE;
    --light-grey-400: #BDBDBD
}

<<<<<<< HEAD
=======
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
* {
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100vw;
    font-size: 12px;
<<<<<<< HEAD
=======
    font-weight: 400;
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    background-color: var(--light-grey-200);
    box-sizing: border-box;
}

.wrapper {
    width: 75vw;
    height: 100%;
    margin: auto;
    display: flex;
}

.container {
    width: 75vw;
    margin: auto;
    margin-top: 1%;
    display: flex;
    padding: 1% 0 1% 0;
    background-color: var(--white);
}

<<<<<<< HEAD

=======
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
.paddingless {
    padding: 0
}

.marginless {
    margin: 0
}

<<<<<<< HEAD
/* Section left */
=======

/* Section left */

>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
section.left {
    font-size: 1rem;
    width: 15vw;
}

<<<<<<< HEAD
section.left ul {
    color: var(--cherry-red);
    padding: 0 5% 5% 5%;
}

section.left li:not(:last-child) {
    margin-bottom: 0.5rem;
}
/* ------------------------------ */

/* Section right */
=======
section.left .categories {
    padding: 0 5% 5% 5%;
}

section.left .categories li a {
    color: var(--cherry-red);
}

section.left li:not(:last-child) {
    margin-bottom: 0.5rem;
}


/* ------------------------------ */


/* Section right */

>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
section.right {
    font-size: 1rem;
    width: 60vw;
}

.page-header {
    margin-top: 1%;
    margin-bottom: 2%;
    font-weight: lighter;
}

.book {
    display: flex;
    flex-flow: row wrap;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid 1px var(--light-grey-200);
<<<<<<< HEAD
    width: 55vw;
=======
    width: 58vw;
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
}

.book .thumbnail {
    margin-right: 3%;
}

<<<<<<< HEAD
.book .thumbnail img {
    max-width: 130px;
    width: 100%;
    max-height: 160px;
    height: 100%;
=======
.book .thumbnail a,
.book .thumbnail img {
    max-width: 100%;
    height: auto;
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
}

.book .body {
    width: 100%;
    max-width: 41vw;
}

.book .body .title a {
<<<<<<< HEAD
    color: var(--black)
}

.book .body .author, .book .body .author a{
    color: var(--light-grey-400);
    font-style: italic;
    font-size: 0.75rem
=======
    color: var(--black);
}

.book .body .author,
.book .body .author a {
    color: var(--light-grey-400);
    font-style: italic;
    font-weight: 300;
    font-size: 0.75rem;
    margin-top: 0.25rem
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
}

.book .body .author a:hover {
    color: var(--dark-blue)
}

.book .body .summary {
    width: 100%;
    min-width: 42vw;
    font-size: 0.9rem
}


<<<<<<< HEAD

/* ------------------------------ */

=======
/* ------------------------------ */


>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
/* Search Component */

#search .left {
    width: 50%;
    display: flex;
    justify-content: space-between
}

#search .left .nav {
    width: 100%;
}

#search .left .nav .nav-item {
    display: inline-block;
    width: 9rem;
    height: 100%;
    line-height: 100%;
    color: var(--light-grey-200);
}

#search .right {
    width: 54.8vw;
    text-align: right
}

#search {
    width: 100%;
    height: 4rem;
    margin: auto;
    font-size: 1rem;
    background-color: var(--dark-blue);
}

<<<<<<< HEAD

=======
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
#search a {
    text-decoration: none;
    color: var(--light-blue);
}

<<<<<<< HEAD
#search .left ul li .dropbtn, 
=======
#search .left ul li .dropbtn,
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
#search .left ul li .dropbtn a {
    background-color: transparent;
    width: 9rem;
    height: 100%;
    text-align: center;
    color: var(--light-grey-200) !important;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}

<<<<<<< HEAD

=======
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
.dropdown-content {
    display: none;
    text-align: left;
    font-size: .75rem;
    position: absolute;
    background-color: var(--dark-blue);
    min-width: 160px;
<<<<<<< HEAD
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
=======
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
    z-index: 1;
}

.dropdown-content a {
    color: var(--light-grey-200) !important;
    text-decoration: none;
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    padding-left: .75rem;
<<<<<<< HEAD

}

.dropdown-content .category .sub-category:not(:last-child){
    border-bottom: 1px solid rgba(238, 238, 238, 0.2);
}


.dropbtn:hover, .dropdown-content a:hover {
=======
}

.dropdown-content .category .sub-category:not(:last-child) {
    border-bottom: 1px solid rgba(238, 238, 238, 0.2);
}

.dropbtn:hover,
.dropdown-content a:hover {
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
    background-color: var(--light-blue) !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--light-blue) !important;
}

.dropdown-content .category .sub-category {
    width: 15rem;
    max-width: 100%;
    position: relative;
<<<<<<< HEAD

}

.dropdown-content .category .sub-category > .category {
=======
}

.dropdown-content .category .sub-category>.category {
>>>>>>> 72e91d26caa48033537703804fbd81f54a0afdef
    display: none;
    left: 100%;
    top: 0
}

.dropdown-content .category .sub-category:hover>.category {
    display: block;
    position: absolute
}


/* ------------------------------ */


/* Detail Component */

.detail-title,
h2 {
    font-weight: 300
}

section.right .book .button .download {
    background-color: var(--cherry-red);
    max-width: 200px;
    width: 100%;
    height: 30px;
    border: none;
}

section.right .book .button .download a {
    color: var(--white);
    font-size: 0.725rem
}

section.right .book .summary ul li {
    list-style-type: disc
}

section.right .body {
    max-width: 30vw
}

section.right .body .button {
    padding: 2% 0;
    border-top: solid 1px var(--light-grey-200);
    max-width: 30vw;
    height: auto;
}

dl {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
    margin-top: 0;
    font-size: 0.9rem
}

dl dt,
dl dd {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
}

dl dt {
    font-weight: 600;
    width: 25%;
    padding: 0 2% 0.5em 0;
}

dl dd {
    margin-right: -1px;
    width: 74%;
    padding: 0 0 0.5em 0;
}

dd a {
    color: var(--cherry-red)
}

/* ------------------------------ */