:root {
    --dark-blue: #2a3744;
    --light-blue: #3d5064;
    --cherry-red: #c40000;
    --white: #fff;
    --black: #000;
    --light-grey-200: #EEEEEE;
    --light-grey-400: #BDBDBD
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

* {
    text-decoration: none;
    list-style-type: none;
}

body {
    width: 100vw;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    background-color: var(--light-grey-200);
    box-sizing: border-box;
}

.wrapper {
    width: 75vw;
    height: 100%;
    margin: auto;
    display: flex;
}

.container {
    width: 75vw;
    margin: auto;
    margin-top: 1%;
    display: flex;
    padding: 1% 0 1% 0;
    background-color: var(--white);
}

.paddingless {
    padding: 0
}

.marginless {
    margin: 0
}


/* Section left */

section.left {
    font-size: 1rem;
    width: 15vw;
}

section.left .categories {
    padding: 0 5% 5% 5%;
}

section.left .categories li a {
    color: var(--cherry-red);
}

section.left li:not(:last-child) {
    margin-bottom: 0.5rem;
}


/* ------------------------------ */


/* Section right */

section.right {
    font-size: 1rem;
    width: 60vw;
}

.page-header {
    margin-top: 1%;
    margin-bottom: 2%;
    font-weight: lighter;
}

.book {
    display: flex;
    flex-flow: row wrap;
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: solid 1px var(--light-grey-200);
    width: 58vw;
}

.book .thumbnail {
    margin-right: 3%;
}

.book .thumbnail a,
.book .thumbnail img {
    max-width: 100%;
    height: auto;
}

.book .body {
    width: 100%;
    max-width: 41vw;
}

.book .body .title a {
    color: var(--black);
}

.book .body .author,
.book .body .author a {
    color: var(--light-grey-400);
    font-style: italic;
    font-weight: 300;
    font-size: 0.75rem;
    margin-top: 0.25rem
}

.book .body .author a:hover {
    color: var(--dark-blue)
}

.book .body .summary {
    width: 100%;
    min-width: 42vw;
    font-size: 0.9rem
}


/* ------------------------------ */


/* Search Component */

#search .left {
    width: 50%;
    display: flex;
    justify-content: space-between
}

#search .left .nav {
    width: 100%;
}

#search .left .nav .nav-item {
    display: inline-block;
    width: 9rem;
    height: 100%;
    line-height: 100%;
    color: var(--light-grey-200);
}

#search .right {
    width: 54.8vw;
    text-align: right;
}
#search .right form{
    margin: 20px 0;
}
#search .right form input,
#search .right form button{
    font-size: 15px;
    background: #fff;
    border: 0;
    padding: 4px;
}

#search {
    width: 100%;
    height: 4rem;
    margin: auto;
    font-size: 1rem;
    background-color: var(--dark-blue);
}

#search a {
    text-decoration: none;
    color: var(--light-blue);
}

#search .left ul li .dropbtn,
#search .left ul li .dropbtn a {
    background-color: transparent;
    width: 9rem;
    height: 100%;
    text-align: center;
    color: var(--light-grey-200) !important;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}

.dropdown-content {
    display: none;
    text-align: left;
    font-size: .75rem;
    position: absolute;
    background-color: var(--dark-blue);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: var(--light-grey-200) !important;
    text-decoration: none;
    display: block;
    height: 2.5rem;
    line-height: 2.5rem;
    padding-left: .75rem;
}

.dropdown-content .category .sub-category:not(:last-child) {
    border-bottom: 1px solid rgba(238, 238, 238, 0.2);
}

.dropbtn:hover,
.dropdown-content a:hover {
    background-color: var(--light-blue) !important;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--light-blue) !important;
}

.dropdown-content .category .sub-category {
    width: 15rem;
    max-width: 100%;
    position: relative;
}

.dropdown-content .category .sub-category>.category {
    display: none;
    left: 100%;
    top: 0
}

.dropdown-content .category .sub-category:hover>.category {
    display: block;
    position: absolute
}

.pagination{
    margin: 0 auto;
    text-align: center;
    padding: 0;
    margin-bottom: 50px;
    border-top:;
}
.pagination a{
    font-size: 15px;
    padding: 5px 10px;
    margin: 0;
    border: 1px solid orange;
    color: #000;

}
.pagination a:hover{
    color: #fff;
    background: orange;
}

/* ------------------------------ */


/* Detail Component */

.detail-title,
h2 {
    font-weight: 300
}

section.right .book .button .download {
    background-color: var(--cherry-red);
    max-width: 200px;
    width: 100%;
    height: 30px;
    border: none;
}

section.right .book .button .download a {
    color: var(--white);
    font-size: 0.725rem
}

section.right .book .summary ul li {
    list-style-type: disc
}

section.right .body {
    max-width: 30vw
}

section.right .body .button {
    padding: 2% 0;
    border-top: solid 1px var(--light-grey-200);
    max-width: 30vw;
    height: auto;
}

dl {
    letter-spacing: -0.31em;
    *letter-spacing: normal;
    word-spacing: -0.43em;
    margin-top: 0;
    font-size: 0.9rem
}

dl dt,
dl dd {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    padding: 0;
    margin: 0;
    margin-bottom: 3%;
}

dl dt {
    font-weight: 600;
    width: 25%;
    padding: 0 2% 0.5em 0;
}

dl dd {
    margin-right: -1px;
    width: 74%;
    padding: 0 0 0.5em 0;
}

dd a {
    color: var(--cherry-red)
}

/* ------------------------------ */
